:root {
  --main-bg-color: #f4f4f4;
  --modal-bg-color: #ffffff;
  --button-color: #ffd84d;
  --button-text: #ffffff;
  --accent-color: #e5484d;
  --link-color: #0066cc;
  --text: #999999;
  --text-muted: #cccccc;
}
